@import "tailwindcss";
.bgimg{
    background-image:url('../public/bg.jpg');
    background-size:cover;
    height:100vh;
}
#navhead{
    color: bisque;
    box-shadow:5px 10px 10px rgb(202, 172, 2);
}
#icon:hover{
    box-shadow:2px 5px 20px pink;
}